.distant {
    background-color: palevioletred;
    height: 30vh;



    margin: 0 auto;
}

.distantContainer{
    display: flex;
    background-color: #ffd47e;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.head {

}

.button {

}