.worksBlock {
    min-height: 100vh;
    background-color: #73ce6e;
}

.worksContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: sandybrown;
}

.works {
    width: 100%;
    background-color: lightblue;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}