.skillsBlock {
    min-height: 100vh;
    background-color: #ffd47e;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: lightgray;
}

.skills {
    width: 100%;
    background-color: lightblue;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}