.footerBlock {
    background-color: palevioletred;
    height: 40vh;
    margin: 0 auto;
}

.footerContainer {
    background-color: #73ce6e;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.social {
    background-color: greenyellow;
    width: 50%;
    display: flex;
    justify-content: space-between;

}